.room__image, .room__video 

{

  filter: blur(0px);

  -webkit-filter: blur(0px);

  -moz-filter: blur(0px);

  -o-filter: blur(0px);

  -ms-filter: blur(0px); 

}
 
.screensaver__container::after 

{

  opacity: 0.0; 

}
 
.room__container::after 

{

  opacity: 0.0; 

}
.room__container--reserved .room__container__status__countdown__hours__time,
.room__container--reserved .room__container__status__countdown__minutes__time {
 
color: #ffffff;
 
}