.screensaver__container::after {
  opacity: 0 !important; }

.room__container::after {
  opacity: 0 !important; }

.room__image, .room__video {
  filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important; }

.room__container::before {
  filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important; }

.blur {
  filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0') !important; }


.room__container--reserved .room__container__status__countdown__hours__time,
.room__container--reserved .room__container__status__countdown__minutes__time {
 color: #008000;
}