.screensaver__container::after {
  opacity: 0 !important; }

.room__container::after {
  opacity: 0 !important; }

.room__image, .room__video {
  filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important; }

.room__container::before {
  filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important; }
.room__container--reserved .room__container__status__title__label1
 {
color: #ff0000;
}
.room__container--reserved .room__container__status__countdown__minutes__time {
 color: #ff0000;
border: 1px solid transparent;
 -moz-border-image: -moz-linear-gradient(top,#ff2c55 0,#f5317b 0%);
 -webkit-border-image: -webkit-linear-gradient(top,#ff2c55 0,#f5317b 0%);
 border-image: linear-gradient(to bottom,#ff2c55 0,#f5317b 0%);
 border-image-slice: 1;
}

.blur {
  filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0') !important; }


